{% extends 'base.html.twig' %}

{% block title %}Gestiloc{% endblock %}
{% block sidebar %}{% endblock %}
{% block body %}
    <div class="home-page-session">
        <section class="gestiloc-container">
            <div class="title-h1-home">
                <h1>{{ 'home.welcome'|trans({'{{ website }}': website}) }}</h1>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 home-page-logo logo-home-anim">
                    <img src="{{ asset('build/images/gestiloc_logo.png') }}" alt="">
                </div>
                <div class="col-12 col-lg-6 home-page-children text-home-anim txt-content">
                    <h2 class="title-h2 margin-title-bottom">{{ 'home.slogan'|trans }}</h2>
                    <p>{{ 'home.description'|trans }}</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
