{% extends 'base.html.twig' %}

{% block title %}{{ 'location.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row flex-nowrap">
            <!-- Navbar latérale -->
            {% include '@shared/sidebare.html.twig' %}
            <main role="main" class="col-md-10 ml-sm-auto px-4">
                <h2 class='text-center title-h2'>{{ 'location.index.title'|trans }}</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table table-head">
                                    <thead>
                                    <tr>
                                        <th>{{ 'location.index.table.id'|trans }}</th>
                                        <th>{{ 'location.index.table.type'|trans }}</th>
                                        <th>{{ 'location.index.table.property'|trans }}</th>
                                        <th>{{ 'location.index.table.lodger'|trans }}</th>
                                        <th>{{ 'location.index.table.rent'|trans }}</th>
                                        <th>{{ 'location.index.table.deposit'|trans }}</th>
                                        <th>{{ 'location.index.table.start_date'|trans }}</th>
                                        <th>{{ 'location.index.table.end_date'|trans }}</th>
                                        <th>{{ 'location.index.table.state'|trans }}</th>
                                        <th>{{ 'location.index.table.actions'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for location in locations %}
                                        <tr>
                                            <td>{{ location.id }}</td>
                                            <td>{{ location.Type }}</td>
                                            <td>
                                                {% if location.properties|length > 0 %}
                                                    <ul class="list-unstyled">
                                                        {% for properties in location.properties %}
                                                            <li>{{ properties.name }} </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <ul>
                                                        {{ 'location.index.table.no_lodgers'|trans }}
                                                    </ul>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if location.lodgers|length > 0 %}
                                                    <ul class="list-unstyled">
                                                        {% for lodger in location.lodgers %}
                                                            <li>{{ lodger.name }} ({{ lodger.firstname }})</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <ul>
                                                        {{ 'location.index.table.no_lodgers'|trans }}
                                                    </ul>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <ul>
                                                    {{ location.loyer }}
                                                </ul>
                                            </td>
                                            <td>{{ location.Depot }}</td>
                                            <td>{{ location.startDate ? location.startDate|date('d-m-Y') : '' }}</td>
                                            <td>{{ location.endDate ? location.endDate|date('d-m-Y') : '' }}</td>
                                            <td>{{ location.etat ? 'location.index.state.yes'|trans : 'location.index.state.no'|trans }}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle dropdown-actions"
                                                            type="button" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        <img src="{{ asset('build/images/three_dots_icon.svg') }}">
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-actions">
                                                        <li>
                                                            <a class="dropdown-item"
                                                               href="{{ path('app_location_edit', {'id': location.id}) }}">
                                                                {{ 'location.index.actions.edit'|trans }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item"
                                                               href="{{ path('app_location_show', {'id': location.id}) }}">
                                                                {{ 'location.index.actions.show'|trans }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                {{ 'location.index.actions.something_else'|trans }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            {{ include ('location/_delete_form.html.twig') }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="10">{{ 'location.index.table.no_records'|trans }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{{ path('app_location_new') }}" class="btn button-color ">
                        {{ 'location.index.actions.create_new'|trans }}
                    </a>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
