{% extends 'base.html.twig' %}

{% block title %}{{ 'avis.show.title'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row flex-nowrap">
            <!-- Navbar latérale -->
            {% include '@shared/sidebare.html.twig' %}
            <main role="main" class="col-md-10 ml-sm-auto px-4">
                <h2 class='text-center title-h2'>{{ 'avis.show.title'|trans }}</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table table-show">
                                    <tbody>
                                    <tr>
                                        <th>{{ 'avis.show.table.id'|trans }}</th>
                                        <td>{{ avis_echeance.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'avis.show.table.date_start'|trans }}</th>
                                        <td>{{ avis_echeance.dateDebut ? avis_echeance.dateDebut|date('d-m-Y') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'avis.show.table.date_end'|trans }}</th>
                                        <td>{{ avis_echeance.dateFin ? avis_echeance.dateFin|date('d-m-Y') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'avis.show.table.status'|trans }}</th>
                                        <td>{{ ('payment.status.' ~ avis_echeance.paymentStatus.value)|trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'avis.show.table.amount'|trans }}</th>
                                        <td>{{ avis_echeance.amount }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'avis.show.table.remaining'|trans }}</th>
                                        <td>{{ avis_echeance.remainingAmount }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <h2>{{ 'avis.show.history.title'|trans }}</h2>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>{{ 'avis.show.history.date'|trans }}</th>
                                        <th>{{ 'avis.show.history.amount'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment in avis_echeance.payments %}
                                        <tr>
                                            <td>{{ payment.paymentDate ? payment.paymentDate|date('d-m-Y') : 'N/A' }}</td>
                                            <td>{{ payment.amount }} €</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="2" class="text-center text-muted">
                                                {{ 'avis.show.history.no_payments'|trans }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{{ path('app_avis_echeance_index') }}" class="btn btn-secondary">
                                    {{ 'avis.show.actions.back'|trans }}
                                </a>

                                <a href="{{ path('app_avis_echeance_edit', {'id': avis_echeance.id}) }}"
                                   class="btn btn-primary">
                                    {{ 'avis.show.actions.edit'|trans }}
                                </a>

                                {{ include('avis_echeance/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
