<div class="d-flex flex-column">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-1">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">{{ subtitle|trans|default('property.form.subtitle') }}</h3>
                </div>

                <div class="card-body">
                    {{ form_start(form) }}

                    <h5 class="mb-3 text-primary">
                        <i class="fas fa-home"></i> {{ 'property.form.general'|trans }}
                    </h5>
                    <div class="mb-3">{{ form_row(form.type) }}</div>
                    <div class="mb-3">{{ form_row(form.name) }}</div>
                    <div class="mb-3">{{ form_row(form.address) }}</div>
                    <div class="mb-3">{{ form_row(form.building) }}</div>
                    <div class="mb-3">{{ form_row(form.etage) }}</div>
                    <div class="mb-3">{{ form_row(form.numero) }}</div>
                    <div class="mb-3">{{ form_row(form.country) }}</div>
                    <div class="mb-3">{{ form_row(form.postCode) }}</div>

                    <h5 class="mt-4 mb-3 text-primary">
                        <i class="fas fa-ruler-combined"></i> {{ 'property.form.details'|trans }}
                    </h5>
                    <div class="mb-3">{{ form_row(form.area) }}</div>
                    <div class="mb-3">{{ form_row(form.numberOfParts) }}</div>
                    <div class="mb-3">{{ form_row(form.bedroom) }}</div>
                    <div class="mb-3">{{ form_row(form.bathroom) }}</div>
                    <div class="mb-3">{{ form_row(form.rentalCharges) }}</div>

                    <h5 class="mt-4 mb-3 text-primary">
                        <i class="fas fa-users"></i> {{ 'property.form.lodgers'|trans }}
                    </h5>
                    <div class="mb-3">{{ form_row(form.lodgers) }}</div>

                </div>

                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ back_path|default(path('app_property_index')) }}" class="btn btn-outline-secondary">
                        <i class="fas fa-arrow-left"></i> {{ 'property.show.actions.back'|trans }}
                    </a>
                    <button class="btn btn-primary btn-wide">
                        <i class="fas fa-save"></i> {{ button_label|trans|default('admin.save') }}
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>