{% extends 'base.html.twig' %}

{% block title %}{{ 'property.show.title'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ 'property.show.title'|trans }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ 'property.show.table.id'|trans }}</th>
                        <td>{{ property.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.type'|trans }}</th>
                        <td>{{ property.type }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.name'|trans }}</th>
                        <td>{{ property.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.address'|trans }}</th>
                        <td>{{ property.address }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.building'|trans }}</th>
                        <td>{{ property.building }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.floor'|trans }}</th>
                        <td>{{ property.etage }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.number'|trans }}</th>
                        <td>{{ property.numero }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.country'|trans }}</th>
                        <td>{{ property.country }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.postcode'|trans }}</th>
                        <td>{{ property.postCode }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.area'|trans }}</th>
                        <td>{{ property.area }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.number_of_parts'|trans }}</th>
                        <td>{{ property.numberOfParts }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.bedroom'|trans }}</th>
                        <td>{{ property.bedroom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.bathroom'|trans }}</th>
                        <td>{{ property.bathroom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.rent'|trans }}</th>
                        <td>{{ property.loyer }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.rental_charges'|trans }}</th>
                        <td>{{ property.rentalCharges }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ 'property.show.table.id'|trans }}</th>
                        <td>{{ property.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.type'|trans }}</th>
                        <td>{{ property.type }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.name'|trans }}</th>
                        <td>{{ property.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.address'|trans }}</th>
                        <td>{{ property.address }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.building'|trans }}</th>
                        <td>{{ property.building }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.floor'|trans }}</th>
                        <td>{{ property.etage }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.number'|trans }}</th>
                        <td>{{ property.numero }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.country'|trans }}</th>
                        <td>{{ property.country }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.postcode'|trans }}</th>
                        <td>{{ property.postCode }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.area'|trans }}</th>
                        <td>{{ property.area }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.number_of_parts'|trans }}</th>
                        <td>{{ property.numberOfParts }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.bedroom'|trans }}</th>
                        <td>{{ property.bedroom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.bathroom'|trans }}</th>
                        <td>{{ property.bathroom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.rent'|trans }}</th>
                        <td>{{ property.loyer }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'property.show.table.rental_charges'|trans }}</th>
                        <td>{{ property.rentalCharges }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('app_property_index') }}">{{ 'property.show.actions.back'|trans }}</a>
    <a href="{{ path('app_property_edit', {'id': property.id}) }}">{{ 'property.show.actions.edit'|trans }}</a>

    {{ include('property/_delete_form.html.twig') }}
{% endblock %}
