<div class="gestiloc-container-footer">
    <div class="footer">
        <div class="footer-children-1">

            <img src="{{ asset('build/images/logo.webp') }}"
                 alt="Bootstrap" width="120" height="120"></a>

            <div class="footer-children-1-txt">
                <h3> Gestiloc</h3>
                <p>Gérez vos biens immobiliers avec le meilleur logiciel gratuit de gestion locative immobilière</p>
            </div>
        </div>
        <div class="footer-children-2">
            <div class="footer-children-2-lien">
                <h4 class="txt-content-footer">Liens</h4>
                <div class="txt-menu-footer">
                    <ul>
                        <li>
                            <a class="" aria-current="page" href={{ path('home') }}>Facebook</a>
                        </li>
                        <li>
                            <a class="" href="{{ path('app_lodger_index') }}"> Lodger</a>
                        </li>
                        <li>
                            <a class="" href="{{ path('app_property_index') }}"> Property</a>
                        </li>
                        <li>
                            <a class="" href="{{ path('app_location_index') }}"> Location</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-children-2-contact">
                <h4 class="txt-content-footer">Contact</h4>
                <div class="txt-menu-footer">
                    <ul>
                        <li>
                            <a class="" aria-current="page" href={{ path('home') }}>
                                <img src="{{ asset('build/images/logo--facebook.svg') }}" alt="">Facebook</a>
                        </li>
                        <li>

                            <a class="" href="{{ path('app_lodger_index') }}">
                                <img src="{{ asset('build/images/logo--instagram.svg') }}" alt="">Instagram</a>
                        </li>
                        <li>
                            <a class="" href="{{ path('app_property_index') }}">
                                <img src="{{ asset('build/images/logo--linkedin.svg') }}" alt="">Linkedin</a>
                        </li>
                        <li>

                            <a class="" href="{{ path('app_location_index') }}">
                                <img src="{{ asset('build/images/logo--youtube.svg') }}" alt="">Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>