{% extends 'base.html.twig' %}

{% block title %}{{ 'lodger.show.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'lodger.show.title'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'lodger.show.table.id'|trans }}</th>
            <td>{{ lodger.id }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.name'|trans }}</th>
            <td>{{ lodger.name }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.firstname'|trans }}</th>
            <td>{{ lodger.firstname }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.address'|trans }}</th>
            <td>{{ lodger.address }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.phone'|trans }}</th>
            <td>{{ lodger.phone }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.mail'|trans }}</th>
            <td>{{ lodger.mail }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.date_of_birth'|trans }}</th>
            <td>{{ lodger.dateOfBirth ? lodger.dateOfBirth|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.job'|trans }}</th>
            <td>{{ lodger.job }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.salary'|trans }}</th>
            <td>{{ lodger.salary }}</td>
        </tr>
        <tr>
            <th>{{ 'lodger.show.table.sex'|trans }}</th>
            <td>{{ lodger.sex }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lodger_index') }}">{{ 'lodger.show.actions.back'|trans }}</a>
    <a href="{{ path('app_lodger_edit', {'id': lodger.id}) }}">{{ 'lodger.show.actions.edit'|trans }}</a>

    {{ include('lodger/_delete_form.html.twig') }}
{% endblock %}
